<section>
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field>
      <input matInput type="email" ngModel name="email" email required placeholder="Email" #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field is required.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" ngModel name="password" password required placeholder="Password">
      <mat-error>Field is required.</mat-error>
    </mat-form-field>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </form>
</section>
